body
{
background-color:hotpink;
font-family: 'Lobster', cursive;
text-align: center;
}
#heading
{
    color: blue;
    font-size: 45px;
}
.test_image_and_result
{
    font-size: 25px;
    background-color:lightgrey;
    color: blueviolet;
    border-radius: 70px;
    width: 500px;
}
.test_image_and_result img
{
width: 200px;
height: 200px;
}